statemachine/claims_approval_process.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Require Manual Approval?",
  "States": {
    "Require Manual Approval?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Wait for Approval",
          "Condition": "{% ($states.input.amount) > (100) %}"
        }
      ],
      "Default": "Auto Approve"
    },

    "Auto Approve": {
      "Type": "Pass",
      "Output": "{% {'originalClaims': $states.input, 'approvalResults': { 'status': 'AUTO-APPROVED', 'reason': 'Amount under $100' }} %}",
      "Next": "Notify Claims Approved"
    },

    "Wait for Approval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish.waitForTaskToken",
      "Arguments": {
        "TopicArn": "${SNS_TOPIC_ARN}",
        "Message": {
          "originalClaim": "{% $states.input %}",
          "message": "Approval needed for claim.",
          "approvalLink": "{% '${API_BASE_URL}/approve?token=' & $encodeUrlComponent($states.context.Task.Token) %}",
          "rejectionLink": "{% '${API_BASE_URL}/reject?token=' & $encodeUrlComponent($states.context.Task.Token) %}"
        }
      },
      "Output": "{% { 'originalClaims': $states.input, 'approvalResults': $states.result } %}",
      "Next": "Notify Claims Approved",
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Output": "{% { 'originalClaims': $states.input, 'approvalResults': $states.errorOutput } %}",
          "Next": "Notify Claims Rejected"
        }
      ]
    },

    "Notify Claims Rejected": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "TopicArn": "${SNS_TOPIC_ARN}",
        "Message": {
          "claimDetails": "{% $states.input.originalClaims %}",
          "results": "{% $states.input.approvalResults %}",
          "message": "The claim has been officially approved."
        }
      },
      "End": true
    },

    "Notify Claims Approved": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "TopicArn": "${SNS_TOPIC_ARN}",
        "Message": {
          "claimDetails": "{% $states.input.originalClaims %}",
          "results": "{% $states.input.approvalResults %}",
          "message": "The claim has been officially approved."
        }
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}