statemachine/claims_approval_process.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Choice",
  "States": {
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Wait for Approval",
          "Condition": "{% ($states.input.amount) > (100) %}"
        }
      ],
      "Default": "Notify Claims Approved"
    },
    "Wait for Approval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish.waitForTaskToken",
      "Arguments": {
        "TopicArn": "arn:aws:sns:ap-southeast-1:050752652859:MyTestEmailTopic",
        "Message": {
          "originalClaim": "{% $states.input %}",
          "message": "Approval needed for claim.",
          "approvalLink": "{% 'https://8rs183ah6h.execute-api.ap-southeast-1.amazonaws.com/default/approve?token=' & $encodeUrlComponent($states.context.Task.Token) %}",
          "rejectionLink": "{% 'https://8rs183ah6h.execute-api.ap-southeast-1.amazonaws.com/default/reject?token=' & $encodeUrlComponent($states.context.Task.Token) %}"
        }
      },
      "Output": "{% { 'originalClaims': $states.input, 'approvalResults': $states.result } %}",
      "Next": "Notify Claims Approved",
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Output": "{% { 'originalClaims': $states.input, 'approvalResults': $states.errorOutput } %}",
          "Next": "Notify Claims Rejected"
        }
      ]
    },
    "Notify Claims Rejected": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "TopicArn": "arn:aws:sns:ap-southeast-1:050752652859:MyTestEmailTopic",
        "Message": {
          "claimDetails": "{% $states.input.originalClaims %}",
          "results": "{% $states.input.approvalResults %}",
          "message": "The claim has been officially approved."
        }
      },
      "End": true
    },
    "Notify Claims Approved": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "TopicArn": "arn:aws:sns:ap-southeast-1:050752652859:MyTestEmailTopic",
        "Message": {
          "claimDetails": "{% $states.input.originalClaims %}",
          "results": "{% $states.input.approvalResults %}",
          "message": "The claim has been officially approved."
        }
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}