statemachines/claims_approval_process.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Assign Claim Details",
  "States": {
    "Assign Claim Details": {
      "Type": "Pass",
      "Assign": {
        "claimDetails": "{% $states.input %}",
        "claimId": "{% $uuid() %}"
      },
      "Next": "Require Manual Approval?"
    },
    "Require Manual Approval?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Wait for Approval",
          "Condition": "{% ($claimDetails.amount) > (100) %}"
        }
      ],
      "Default": "Auto Approve"
    },
    "Auto Approve": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Arguments": {
        "TableName": "${DYNAMODB_TABLE_NAME}",
        "Item": {
          "claimId": {
            "S": "{% $claimId %}"
          },
          "status": {
            "S": "APPROVED"
          },
          "autoApproved": {
            "BOOL": true
          },
          "claimDetails": {
            "S": "{% $string($claimDetails) %}"
          }
        }
      },
      "Assign": {
        "approvalResults": {
          "status": "AUTO-APPROVED",
          "reason": "Amount under $100"
        }
      },
      "Next": "Notify Claims Approved"
    },
    "Wait for Approval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem.waitForTaskToken",
      "Arguments": {
        "TableName": "${DYNAMODB_TABLE_NAME}",
        "Item": {
          "claimId": {
            "S": "{% $claimId %}"
          },
          "status": {
            "S": "PENDING_APPROVE"
          },
          "taskToken": {
            "S": "{% $states.context.Task.Token %}"
          },
          "claimDetails": {
            "S": "{% $string($claimDetails) %}"
          }
        }
      },
      "Assign": {
        "approvalResults": "{% $states.result %}"
      },
      "Next": "Claim Approved?"
    },
    "Claim Approved?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Update DDB Approved",
          "Condition": "{% $approvalResults.status = 'APPROVED' %}"
        },
        {
          "Next": "Update DDB Rejected",
          "Condition": "{% $approvalResults.status = 'REJECTED' %}"
        }
      ]
    },
    "Update DDB Approved": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": "${DYNAMODB_TABLE_NAME}",
        "Key": {
          "claimId": {
            "S": "{% $claimId %}"
          }
        },
        "UpdateExpression": "SET #status = :status",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": {
            "S": "APPROVED"
          }
        }
      },
      "Next": "Notify Claims Approved"
    },
    "Update DDB Rejected": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Arguments": {
        "TableName": "${DYNAMODB_TABLE_NAME}",
        "Key": {
          "claimId": {
            "S": "{% $claimId %}"
          }
        },
        "UpdateExpression": "SET #status = :status",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": {
            "S": "REJECTED"
          }
        }
      },
      "Next": "Notify Claims Rejected"
    },
    "Notify Claims Approved": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "TopicArn": "${SNS_TOPIC_ARN}",
        "Message": {
          "message": "The claim has been approved.",
          "results": "{% $approvalResults %}",
          "claimDetails": "{% $claimDetails %}",
          "claimId": "{% $claimId %}"
        }
      },
      "End": true
    },
    "Notify Claims Rejected": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "TopicArn": "${SNS_TOPIC_ARN}",
        "Message": {
          "message": "The claim has been rejected.",
          "results": "{% $approvalResults %}",
          "claimDetails": "{% $claimDetails %}",
          "claimId": "{% $claimId %}"
        }
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}