statemachines/claims_approval_process.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Assign Claim Details",
  "States": {
    "Assign Claim Details": {
      "Type": "Pass",
      "Assign": {
        "claimDetails": "{% $states.input %}"
      },
      "Next": "Require Manual Approval?"
    },
    "Require Manual Approval?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Wait for Approval",
          "Condition": "{% ($claimDetails.amount) > (100) %}"
        }
      ],
      "Default": "Auto Approve"
    },
    "Auto Approve": {
      "Type": "Pass",
      "Assign": {
        "approvalResults": {
          "status": "AUTO-APPROVED",
          "reason": "Amount under $100"
        }
      },
      "Next": "Notify Claims Approved"
    },
    "Wait for Approval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish.waitForTaskToken",
      "Arguments": {
        "TopicArn": "${SNS_TOPIC_ARN}",
        "Message": {
          "message": "Approval needed for claim.",
          "originalClaim": "{% $claimDetails %}",
          "approvalLink": "{% '${APPROVAL_API_BASE_URL}/approve?token=' & $encodeUrlComponent($states.context.Task.Token) %}",
          "rejectionLink": "{% '${APPROVAL_API_BASE_URL}/reject?token=' & $encodeUrlComponent($states.context.Task.Token) %}"
        }
      },
      "Assign": {
        "approvalResults": "{% $states.result %}"
      },
      "Next": "Claim Approved?"
    },
    "Claim Approved?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Notify Claims Approved",
          "Condition": "{% $approvalResults.status = 'APPROVED' %}"
        },
        {
          "Next": "Notify Claims Rejected",
          "Condition": "{% $approvalResults.status = 'REJECTED' %}"
        }
      ]
    },
    "Notify Claims Approved": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "TopicArn": "${SNS_TOPIC_ARN}",
        "Message": {
          "message": "The claim has been approved.",
          "results": "{% $approvalResults %}",
          "claimDetails": "{% $claimDetails %}"
        }
      },
      "End": true
    },
    "Notify Claims Rejected": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "TopicArn": "${SNS_TOPIC_ARN}",
        "Message": {
          "message": "The claim has been rejected.",
          "results": "{% $approvalResults %}",
          "claimDetails": "{% $claimDetails %}"
        }
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}